{% extends "layout.html" %}
{% block body %}


<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">일별종합</a>
  <a class="item " data-tab="2">할인구분별</a>
  <a class="item " data-tab="3">과면세별</a>
    <a class="item " data-tab="4">시간대별</a>
  <a class="item " data-tab="5">상품분류별</a>
    <a class="item " data-tab="6">상품별</a>
  <a class="item " data-tab="7">외식테이블</a>
    <a class="item " data-tab="8">코너별</a>
  <a class="item " data-tab="9">포스별</a>

</div>

<div class="ui bottom attached tab segment active  " data-tab="first">

    <iframe src="{{ url_for('_earnings_day1') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment " data-tab="2">

    <iframe src="{{ url_for('_earnings_day2') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment  " data-tab="3">

    <iframe src="{{ url_for('_earnings_day3') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment " data-tab="4">

    <iframe src="{{ url_for('_earnings_day4') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment  " data-tab="5">

    <iframe src="{{ url_for('_earnings_day5') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment " data-tab="6">

    <iframe src="{{ url_for('_earnings_day6') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment  " data-tab="7">

    <iframe src="{{ url_for('_earnings_day7') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment " data-tab="8">

    <iframe src="{{ url_for('_earnings_day8') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>

<div class="ui bottom attached tab segment  " data-tab="9">

    <iframe src="{{ url_for('_earnings_day9') }}" frameborder="0" width="1000" height="600" marginwidth="0" marginheight="0">
</iframe>

</div>


<script type="text/javascript">

$(function () {

    $('.menu .item').tab();

});


</script>


{% endblock %}

