{% include 'ax5.html' %}


<table class="box" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                    }" style="height: 100%;"></div>
        </td>

    </tr>
</table>



<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>
<script type="text/javascript" src="{{ url_for('static',filename='datepicker.js') }} "></script>



<script type="text/javascript">


    var gridList = window.parent.gridList
    load()


    function load() {



        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "a", label: "일자", width: 80, align: "center"},
                {key: "b", label: "요일", width: 35, align: "center"},
                {key: "c", label: "영업일수", width: 60, align: "center"},
                {key: "d2", label: "합계" ,width: 60 , formatter: "money",align: "right"},
                {
                    label: "할인내역", columns: [ // child columns
                        {key: "k1", label: "일반",width: 60 ,align: "right"},
                        {key: "k2", label: "서비스",width: 60 ,align: "right"},
                        {key: "k3", label: "제휴",width: 60 ,align: "right"},
                        {key: "k4", label: "쿠폰" ,width: 60,align: "right"},
                        {key: "k5", label: "회원" ,width: 60,align: "right"},
                        {key: "k6", label: "식권" ,width: 60,align: "right"},
                        {key: "k7", label: "포장",width: 60 ,align: "right"},
                        {key: "k8", label: "YAP" ,width: 60,align: "right"}
                    ]
                },
                {
                    label: "Tax Refund", columns: [ // child columns
                        {key: "l1", label: "사후환급액" ,width: 80,align: "right"},
                        {key: "l2", label: "즉시환급액",width: 80 ,align: "right"},
                        {key: "l3", label: "환급수수료",width: 80 ,align: "right"}
                    ]
                }
            ],
            footSum: [
                [
                    {label: "SUMMARY", colspan: 2, align: "center"},
                    {key: "c", collector: "sum", formatter: "money", align: "center"},
                    {key: "d2", collector: "sum", formatter: "money", align: "right"}



                ]]
        });

         $('#load').click(function () {
            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();
            for ( i=1 ; i<10 ; i++){
                $('input[id=dates]', parent.frames["day"+i].document).val(dates)
                $('input[id=datee]', parent.frames["day"+i].document).val(datee)
            }
            var result = [];
            var a=0;

            for ( i in gridList ) {
                if ( dates <= gridList[i].a && datee >= gridList[i].a ) {
                 result.push(gridList[i])
                 a++
                 }
            }

            firstGrid.setData(result);
        })
    }



</script>

