
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>

<style>


  table {
    width: 100%;
    border: 0px;
  }
  .box{
    border: 1px solid #a3a2a2; margin :0.5em 0em 0em 0em;
  }
  th {
    text-align : left;
    background-color: #e7dfdf;
  }
  a { color : blue };
</style>

<table class="box" >
    <tr>
        <th>
         조회일자 <input class="datepickers" id="date" type="date" value=""><input class="datepickers" id="date2" type="date" value="">
        </th>
    </tr>
    <tr>
        <td>


                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 2,
                        <!--frozenRowIndex: 2,-->
                        showLineNumber: true,
                        <!--showRowSelector: true,-->
                        <!--lineNumberColumnWidth: 50,-->
                        <!--rowSelectorColumnWidth: 40-->
                    }" style="height: 600px;"></div>

        </td>

    </tr>
</table>



<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>
<script type="text/javascript">

    var now = new Date();
    var today = now.getFullYear() + '-' + ("0" + (now.getMonth() + 1)).slice(-2) + '-' + ("0" + now.getDate()).slice(-2);
    $("#date").val( today);
    $("#date2").val( today)

    var  gridList = [];

    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}", function (json) {
        _data = json;

    }).done(function () {

    console.log(_data);

    loaddata();






    });

    function load() {


        data = [
                {key: "a", label: "일자", width: 80, align: "center"},
                {key: "b", label: "요일", width: 35, align: "center"},
                {key: "c", label: "영업일수", width: 60, align: "center"},
                {key: "d3", label: "실매출합계" ,width: 80 , formatter: "money",align: "right"},
                {key: "d6", label: "수량합계" ,width: 60 ,align: "right"},

            ]

        for( i in _data['상품분류'] ) {
            data.push( {label: _data['상품분류'][i] , columns : [
                { key : 'pt'+i , label : "실매출" ,width: 80 , formatter: "money",align: "right"} ,
                { key : 'prc'+i,  label : "영수건수" ,width: 60 ,align: "right"} ]}
                )
        }


        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: data ,
            footSum: [
                [
                    {label: "SUMMARY", colspan: 2, align: "center"},
                    {key: "c", collector: "sum", formatter: "money", align: "center"},
                    {key: "d1", collector: "sum", formatter: "money", align: "right"},
                    {key: "d2", collector: "sum", formatter: "money", align: "right"},
                    {key: "d3", collector: "sum", formatter: "money", align: "right"},
                    {key: "d4", collector: "sum", formatter: "money", align: "right"},
                    {key: "d5", collector: "sum", formatter: "money", align: "right"},
                    {key: "d6", collector: "sum", formatter: "money", align: "right"},
                    <!--{key: "d7", collector: "sum", formatter: "money", align: "right"},-->
                    {key: "e1", collector: "sum", formatter: "money", align: "right"},
                    {key: "e2", collector: "sum", formatter: "money", align: "right"},
                    {key: "e3", collector: "sum", formatter: "money", align: "right"},
                    {key: "e4", collector: "sum", formatter: "money", align: "right"},
                    {key: "e5", collector: "sum", formatter: "money", align: "right"},
                    {key: "e6", collector: "sum", formatter: "money", align: "right"},
                    {key: "f1", collector: "sum", formatter: "money", align: "right"},
                    {key: "f2", collector: "sum", formatter: "money", align: "right"},
                    {key: "f3", collector: "sum", formatter: "money", align: "right"},
                    {key: "g", collector: "sum", formatter: "money", align: "right"},
                    {key: "h", collector: "sum", formatter: "money", align: "right"},
                    {key: "l5", collector: "sum", formatter: "money", align: "right"},


                ]]
        });

        firstGrid.setData(gridList);
    }



</script>

