
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>

<style>


 table {
    width: 100%;
    height :95%;
    border: 0px;
  }
  .box{
    border: 1px solid #a3a2a2; margin :0.5em 0em 0em 0em;
  }
  th {
    height : 40px;
    text-align : left;
    background-color: #e7dfdf;
  }
  a { color : blue };
</style>

<table class="box" >
    <tr>
        <th>
         조회일자 <input class="datepickers" id="date" type="date" value=""><input class="datepickers" id="date2" type="date" value="">
        </th>
    </tr>
    <tr>
        <td>


                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 2,
                    }" style="height: 100%;"></div>

        </td>

    </tr>
</table>

<script type="text/javascript">


    var  gridList1 = [];
    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}", function (json) {
        _data = json;

    }).done(function () {
        data0 = [];
        var a = 0;
        var week = new Array('일', '월', '화', '수', '목', '금', '토');

        for( i in _data['일자별'] ) {
            data0.push(_data['일자별'][i]);
        }

        for( i in data0) {

           for (k in data0[i]['상품별']) {
                gridList1[a] = {};
                gridList1[a].a = data0[i]['영업일자'];
                gridList1[a].ppi = _data['상품분류'][data0[i]['상품별'][k]['ppi']]
                gridList1[a].pi = k
                gridList1[a].pn = _data['상품목록'][k]
                gridList1[a].pc = data0[i]['상품별'][k]['영수건수']
                gridList1[a].pt = data0[i]['상품별'][k]['총거래액']
                gridList1[a].pe = data0[i]['상품별'][k]['총할인액']
                gridList1[a].pr = data0[i]['상품별'][k]['실거래액']


                a++;
            }


        }
        load()

    });


    function load() {

        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "a", label: "일자", width: 100, align: "center"},
                {key: "ppi", label: "대분류", width: 100, align: "center"},
                {key: "pi", label: "상품코드", width: 100, align: "center"},
                {key: "pn", label: "상품명", width: 100, align: "center"},
                {key: "pc", label: "수량", width: 60, align: "center"},
                {key: "pt", label: "총매출액" ,width: 100 , formatter: "money",align: "right"},
                {key: "pe", label: "총할인액" ,width: 100 , formatter: "money",align: "right"},
                {key: "pr", label: "실매출액" ,width: 100 , formatter: "money",align: "right"},
            ],
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                     {key: "ppi" },
                    {key: "pi"},
                    {key: "pn"},
                    {key: "pc", collector: "sum", formatter: "money", align: "center"},
                    {key: "pt", collector: "sum", formatter: "money", align: "right"},
                    {key: "pe", collector: "sum", formatter: "money", align: "right"},
                    {key: "pr", collector: "sum", formatter: "money", align: "right"},



                ]],
                body: {  mergeCells: ["a"] }
        });

        firstGrid.setData(gridList1);
    }



</script>

