{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static',filename='griddata.css') }} ">

<table class="box" >
    <tr>
        <th style="color:white; background-color: #347efd;">
         당일매출상세현황
        </th>
    </tr>
    <tr>
         <th>
            <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 10px; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:150px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 10px">조회</button>
            </div>
        </div>

        </th>

    </tr>
</table>
<table class="box">
    <tr>
        <th >
        당일매출 집계내역  ( 결제합계 = 가액 + 부가세 + 봉사료 - 에누리 + TaxRefund환급수수료 )
        </th>
    </tr>
    <tr>
        <td>
           <div data-ax5grid="1-grid" data-ax5grid-config="{
            header: { align: 'center' },
            frozenColumnIndex: 4,
            showLineNumber: true,
            page: { display: false  }
        }" style="height: 250px;"></div>
        </td>

    </tr>
</table>
<table class="box">
    <tr>
        <th>
            당일매출 상세내역 ( 결제합계 = 가액 + 부가세 + 봉사료 - 에누리 + TaxRefund환급수수료 )
        </th>
    </tr>
    <tr>
        <td>
            <div data-ax5grid="2-grid" data-ax5grid-config="{
            header: { align: 'center' },
            showLineNumber: true,
            frozenColumnIndex: 2,
             page: { display: false  }
        }" style="height: 300px;"></div>
        </td>

    </tr>
</table>


<script type="text/javascript" src="{{ url_for('static',filename='daypicker.js') }} "></script>
<script type="text/javascript">
var data0 = [];
var  gridList1 = [];var  gridList2 = [];var  gridList3 = [];var  gridList4 = [];

$.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}", function (json) {
_data = json;

for( i in _data['일자별'] ) {
    data0.push(_data['일자별'][i]);
}

var n=0; var avr=0;

for ( i in data0) {
    avr = parseInt(data0[i]['총거래액']) / parseInt(Object.keys(data0[i]['영수증별']).length)

    gridList1[i] = {};
    gridList1[i]['영업일자'] = data0[i]['영업일자'];
    gridList1[i]['총매출액'] = data0[i]['총거래액'];
    gridList1[i]['총할인액'] = data0[i]['총할인액'];
    gridList1[i]['실매출액'] = data0[i]['실거래액'];
    gridList1[i]['가액'] = data0[i]['판매이익'];
    gridList1[i]['부가세'] = data0[i]['세금'];
    gridList1[i]['영수건수'] = Object.keys(data0[i]['영수증별']).length;
    gridList1[i]['영수단가'] = Math.round(avr);
    gridList1[i]['결제합계'] = data0[i]['실거래액'];
    gridList1[i]['단순현금'] = data0[i]['수단별']['현금']['실거래액'];
    gridList1[i]['신용카드'] = data0[i]['수단별']['카드(임의)']['실거래액']+data0[i]['수단별']['카드']['실거래액'];
    gridList1[i]['회원포인트'] = data0[i]['수단별']['포인트']['실거래액'];

    for( j in data0[i]['영수증별'] ) {
        gridList2[n] ={};
        gridList2[n]['영업일자'] = data0[i]['영업일자'];
        gridList2[n]['영수증번호'] = j
        gridList2[n]['결제시각'] = data0[i]['영수증별'][j]['결제일시']
        gridList2[n]['총매출액'] = data0[i]['영수증별'][j]['총거래액']
        gridList2[n]['총할인액'] = data0[i]['영수증별'][j]['총할인액']
        gridList2[n]['실매출액'] = data0[i]['영수증별'][j]['실거래액']
        gridList2[n]['가액'] = data0[i]['영수증별'][j]['판매이익']
        gridList2[n]['부가세'] = data0[i]['영수증별'][j]['세금']
        gridList2[n]['결제합계'] = data0[i]['영수증별'][j]['실거래액']
        gridList2[n]['단순현금'] = data0[i]['영수증별'][j]['현금']
        gridList2[n]['신용카드'] = data0[i]['영수증별'][j]['카드(임의)'] + data0[i]['영수증별'][j]['카드']
        gridList2[n]['회원포인트'] = data0[i]['영수증별'][j]['포인트']
        <!--gridList2[n]['단순현금'] = data0[i]['영수증별'][j]['현금']-->

        n++
    }


}


}).done(function () {

var Grid1 = new ax5.ui.grid({
        target: $('[data-ax5grid="1-grid"]'),
        columns: [
            {key: "구분", label: "구분" ,width: 80 , formatter: "money",align: "center"},
            {key: "총매출액", label: "총매출액" ,width: 80 , formatter: "money",align: "right"},
            {key: "총할인액", label: "총할인액" ,width: 80 , formatter: "money",align: "right"},
            {key: "실매출액", label: "실매출액" ,width: 80 , formatter: "money",align: "right"},
            {key: "가액", label: "가액" ,width: 80 , formatter: "money",align: "right"},
            {key: "부가세", label: "부가세" ,width: 80 , formatter: "money",align: "right"},
            {key: "봉사료", label: "봉사료", width: 80 , formatter: "money",align: "right"},
            {key: "에누리", label: "에누리", width: 80 , formatter: "money",align: "right"},
            {key: "거스름돈", label: "거스름돈", width: 80 , formatter: "money",align: "right"},
            {key: "영수건수", label: "영수건수" ,width: 60 ,align: "right"},
            {key: "영수단가", label: "영수단가" ,width: 80 , formatter: "money",align: "right"},
            {
                label: "결제수단", columns: [ // child columns
                    {key: "결제합계", label: "결제합계" ,formatter: "money",align: "right"},
                    {key: "단순현금", label: "단순현금"  ,formatter: "money",align: "right"},
                    {key: "현금영수", label: "현금영수"  ,formatter: "money",align: "right"},
                    {key: "신용카드", label: "신용카드"  ,formatter: "money",align: "right"},
                    {key: "외상", label: "외상" ,formatter: "money" ,align: "right"},
                    {key: "상품권", label: "상품권" ,formatter: "money" ,align: "right"},
                    {key: "식권", label: "식권" ,formatter: "money" ,align: "right"},
                    {key: "회원포인트", label: "회원포인트"  ,formatter: "money",align: "right"},
                    {key: "제휴카드", label: "제휴카드" ,formatter: "money" ,align: "right"},
                    {key: "사원카드", label: "사원카드" ,formatter: "money" ,align: "right"},
                    {key: "모바일쿠폰", label: "모바일쿠폰"  ,formatter: "money",align: "right"},
                    {key: "캐시비", label: "캐시비" ,formatter: "money" ,align: "right"},
                    {key: "선불카드", label: "선불카드"  ,formatter: "money",align: "right"}
                ]
            },
            {
                label: "할인내역", columns: [ // child columns
                    {key: "일반", label: "일반" ,formatter: "money" ,align: "right"},
                    {key: "서비스", label: "서비스"  ,formatter: "money",align: "right"},
                    {key: "제휴", label: "제휴" ,formatter: "money" ,align: "right"},
                    {key: "쿠폰", label: "쿠폰" ,formatter: "money" ,align: "right"},
                    {key: "회원", label: "회원" ,formatter: "money" ,align: "right"},
                    {key: "식권", label: "식권"  ,formatter: "money",align: "right"},
                    {key: "포장", label: "포장"  ,formatter: "money",align: "right"},
                    {key: "YAP", label: "YAP"  ,formatter: "money",align: "right"}
                ]
            },
            {key: "객수합계", label: "객수합계" ,width: 50},
            {
                label: "객수", columns: [ // child columns
                    {key: "남", label: "남" ,width: 50},
                    {key: "여", label: "여" ,width: 50},
                    {key: "e5", label: "11" ,width: 50},
                    {key: "e6", label: "22" ,width: 50}
                ]
            },
            {key: "e2", label: "객단가" ,width: 50},
            {
                label: "테이블", columns: [ // child columns
                    {key: "테이블수", label: "테이블수" ,width: 50},
                    {key: "단가", label: "단가" ,width: 50},
                    {key: "회전율", label: "회전율" ,width: 50}
                ]
            },
            {
                label: "Tax Refund", columns: [ // child columns
                    {key: "사후환급액", label: "사후환급액"  ,formatter: "money",align: "right"},
                    {key: "즉시환급액", label: "즉시환급액" ,formatter: "money",align: "right"},
                    {key: "환급수수료", label: "환급수수료" ,formatter: "money" ,align: "right"}
                ]
            }
        ],
        footSum: [
            [
                {label: "합계", colspan: 1, align: "center"},
                {key: "총매출액", collector: "sum", formatter: "money", align: "right"},
                {key: "총할인액", collector: "sum", formatter: "money", align: "right"},
                {key: "실매출액", collector: "sum", formatter: "money", align: "right"},
                {key: "가액", collector: "sum", formatter: "money", align: "right"},
                {key: "부가세", collector: "sum", formatter: "money", align: "right"},
                {key: "봉사료", collector: "sum", formatter: "money", align: "right"},
                {key: "에누리", collector: "sum", formatter: "money", align: "right"},
                {key: "거스름돈", collector: "sum", formatter: "money", align: "right"},
                {key: "영수건수", collector: "sum", formatter: "money", align: "right"},
                {key: "영수단가", collector: "sum", formatter: "money", align: "right"},
                {key: "결제합계", collector: "sum", formatter: "money", align: "right"},
                {key: "단순현금", collector: "sum", formatter: "money", align: "right"},
                {key: "현금영수", collector: "sum", formatter: "money", align: "right"},
                {key: "신용카드", collector: "sum", formatter: "money", align: "right"},
                {key: "외상", collector: "sum", formatter: "money", align: "right"},
                {key: "상품권", collector: "sum", formatter: "money", align: "right"},
                {key: "식권", collector: "sum", formatter: "money", align: "right"},
                {key: "회원포인트", collector: "sum", formatter: "money", align: "right"},
                {key: "제휴카드", collector: "sum", formatter: "money", align: "right"},
                {key: "사원카드", collector: "sum", formatter: "money", align: "right"},


            ]
        ]

    });


var Grid2 = new ax5.ui.grid({
        target: $('[data-ax5grid="2-grid"]'),
        columns:  [
            {key: "포스번호", label: "포스번호" ,width: 80 ,align: "center"},
            {key: "영수증번호", label: "영수증번호" ,width: 80 ,align: "center"},
            {key: "결제시각", label: "결제시각" ,width: 80 ,align: "center"},
            {key: "구분", label: "구분" ,width: 80 , formatter: "money",align: "right"},
            {key: "총매출액", label: "총매출액" ,width: 80 , formatter: "money",align: "right"},
            {key: "총할인액", label: "총할인액" ,width: 80 , formatter: "money",align: "right"},
            {key: "실매출액", label: "실매출액" ,width: 80 , formatter: "money",align: "right"},
            {key: "가액", label: "가액" ,width: 80 , formatter: "money",align: "right"},
            {key: "부가세", label: "부가세" ,width: 80 , formatter: "money",align: "right"},
            {key: "봉사료", label: "봉사료", width: 80 , formatter: "money",align: "right"},
            {key: "에누리", label: "에누리", width: 80 , formatter: "money",align: "right"},
            {key: "거스름돈", label: "거스름돈", width: 80 , formatter: "money",align: "right"},
            {key: "회원명", label: "회원명" ,width: 60 ,align: "right"},
            {key: "테이블명", label: "테이블명" ,width: 80 , formatter: "money",align: "right"},
            {
                label: "결제수단", columns: [ // child columns
                    {key: "결제합계", label: "결제합계"  ,formatter: "money",align: "right"},
                    {key: "단순현금", label: "단순현금"  ,formatter: "money",align: "right"},
                    {key: "현금영수", label: "현금영수"  ,formatter: "money",align: "right"},
                    {key: "신용카드", label: "신용카드"  ,formatter: "money",align: "right"},
                    {key: "외상", label: "외상"  ,formatter: "money",align: "right"},
                    {key: "상품권", label: "상품권"  ,formatter: "money",align: "right"},
                    {key: "식권", label: "식권"  ,formatter: "money",align: "right"},
                    {key: "회원포인트", label: "회원포인트"  ,formatter: "money",align: "right"},
                    {key: "제휴카드", label: "제휴카드" ,formatter: "money" ,align: "right"},
                    {key: "사원카드", label: "사원카드"  ,formatter: "money",align: "right"},
                    {key: "모바일쿠폰", label: "모바일쿠폰"  ,formatter: "money",align: "right"},
                    {key: "캐시비", label: "캐시비"  ,formatter: "money",align: "right"},
                    {key: "선불카드", label: "선불카드"  ,formatter: "money",align: "right"}
                ]
            },
            {
                label: "할인내역", columns: [ // child columns
                    {key: "일반", label: "일반" ,formatter: "money" ,align: "right"},
                    {key: "서비스", label: "서비스" ,formatter: "money" ,align: "right"},
                    {key: "제휴", label: "제휴" ,formatter: "money" ,align: "right"},
                    {key: "쿠폰", label: "쿠폰" ,formatter: "money" ,align: "right"},
                    {key: "회원", label: "회원"  ,formatter: "money",align: "right"},
                    {key: "식권", label: "식권" ,formatter: "money" ,align: "right"},
                    {key: "포장", label: "포장"  ,formatter: "money",align: "right"},
                    {key: "YAP", label: "YAP"  ,formatter: "money",align: "right"}
                ]
            },
            {key: "최초주문시각", label: "최초주문시각" ,width: 50},
            {key: "객수합계", label: "객수합계" ,width: 50},
            {
                label: "객수", columns: [ // child columns
                    {key: "e3", label: "남" ,width: 50},
                    {key: "e4", label: "여" ,width: 50},
                    {key: "e5", label: "11" ,width: 50},
                    {key: "e6", label: "22" ,width: 50}
                ]
            },
            {key: "객단가", label: "객단가" ,width: 50},
            {key: "테이블점유시간", label: "테이블점유시간" ,width: 50},
            {
                label: "Tax Refund", columns: [ // child columns
                    {key: "사후환급액", label: "사후환급액"  ,formatter: "money",align: "right"},
                    {key: "즉시환급액", label: "즉시환급액" ,formatter: "money" ,align: "right"},
                    {key: "환급수수료", label: "환급수수료"  ,formatter: "money",align: "right"},
                    {key: "환급일련번호", label: "환급일련번호" ,align: "right"}
                ]
            }
        ],
        footSum: [
            [
                {label: "합계", colspan: 2, align: "center"},
                {key: "c", collector: "sum", formatter: "money", align: "center"},
                {key: "d1", collector: "sum", formatter: "money", align: "right"},
                {key: "d2", collector: "sum", formatter: "money", align: "right"},
                {key: "d3", collector: "sum", formatter: "money", align: "right"},
                {key: "d4", collector: "sum", formatter: "money", align: "right"},
                {key: "d5", collector: "sum", formatter: "money", align: "right"},
                {key: "d6", collector: "sum", formatter: "money", align: "right"},
                <!--{key: "d7", collector: "sum", formatter: "money", align: "right"},-->
                {key: "e1", collector: "sum", formatter: "money", align: "right"},
                {key: "e2", collector: "sum", formatter: "money", align: "right"},
                {key: "e3", collector: "sum", formatter: "money", align: "right"},
                {key: "e4", collector: "sum", formatter: "money", align: "right"},
                {key: "e5", collector: "sum", formatter: "money", align: "right"},
                {key: "e6", collector: "sum", formatter: "money", align: "right"},
                {key: "f1", collector: "sum", formatter: "money", align: "right"},
                {key: "f2", collector: "sum", formatter: "money", align: "right"},
                {key: "f3", collector: "sum", formatter: "money", align: "right"},
                {key: "g", collector: "sum", formatter: "money", align: "right"},
                {key: "h", collector: "sum", formatter: "money", align: "right"},
                {key: "l5", collector: "sum", formatter: "money", align: "right"},


            ]
        ]

    });


     $('#load').click(function () {
        var dates = $('input[id=dates]').val();

        var result1 = []; var result2 = [];

        for ( i in gridList1 ) {
            if ( dates == gridList1[i]['영업일자']  ) {
             result1.push(gridList1[i])
             }
        }

        for ( i in gridList2 ) {
             if ( dates == gridList2[i]['영업일자']  ) {
             result2.push(gridList2[i])
             }
        }


        Grid1.setData(result1);
        Grid2.setData(result2);


    })

});





</script>

{% endblock %}

