
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>


<style>


  table {
    width: 100%;
    border: 0px;
  }
  .box{
    border: 1px solid #a3a2a2; margin :0.5em 0em 0em 0em;
  }
  th {
    text-align : left;
    background-color: #e7dfdf;
  }

</style>

<table class="box" >
    <tr>
        <th>
         조회일자 <input class="datepickers" id="date" type="date" value=""><input class="datepickers" id="date2" type="date" value="">
        </th>
    </tr>
    <tr>
        <td>
            <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 1,
                    }" style="height: 300px;"></div>

        </td>

    </tr>
</table>




<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>
<script type="text/javascript">

var  gridList = [];
    $.getJSON("{{ url_for('_earnings_week' ) }}/"+"{{ store_id }}", function (json) {
        _data = json;

    }).done(function () {

    loaddata();

    });


    function load() {



        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "b", label: "요일", width: 35, align: "center"},
                {
                    label: "매출현황", columns: [ // child columns
                        {key: "d1", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d2", label: "총할인" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d3", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d4", label: "가액" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d5", label: "부가세" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d6", label: "영수건수" ,width: 60 ,align: "right"},
                        {key: "d7", label: "영수단가" ,width: 80 , formatter: "money",align: "right"}
                    ]
                },
                {key: "g", label: "봉사료", width: 80 ,align: "right"},
                {key: "h", label: "에누리", width: 80 ,align: "right"},
                {
                    label: "결제수단", columns: [ // child columns
                        {key: "i1", label: "결제합계" ,align: "right"},
                        {key: "i2", label: "단순현금" ,align: "right"},
                        {key: "i3", label: "현금영수" ,align: "right"},
                        {key: "i4", label: "신용카드" ,align: "right"},
                        {key: "i5", label: "외상" ,align: "right"},
                        {key: "i6", label: "상품권" ,align: "right"},
                        {key: "i7", label: "식권" ,align: "right"},
                        {key: "i8", label: "회원포인트" ,align: "right"},
                        {key: "i9", label: "제휴카드" ,align: "right"},
                        {key: "i10", label: "사원카드" ,align: "right"},
                        {key: "i11", label: "모바일쿠폰" ,align: "right"},
                        {key: "i12", label: "캐시비" ,align: "right"},
                        {key: "i13", label: "선불카드" ,align: "right"}
                    ]
                },
                {
                    label: "포장/배달현황", columns: [ // child columns
                        {key: "j1", label: "일반" ,align: "right"},
                        {key: "j3", label: "포장" ,align: "right"},
                        {key: "j5", label: "배달" ,align: "right"},
                    ]
                }
            ],
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                    {key: "d1", collector: "sum", formatter: "money", align: "right"},
                    {key: "d2", collector: "sum", formatter: "money", align: "right"},
                    {key: "d3", collector: "sum", formatter: "money", align: "right"},
                    {key: "d4", collector: "sum", formatter: "money", align: "right"},
                    {key: "d5", collector: "sum", formatter: "money", align: "right"},
                    {key: "d6", collector: "sum", formatter: "money", align: "right"},
                    <!--{key: "d7", collector: "sum", formatter: "money", align: "right"},-->
                    {key: "e1", collector: "sum", formatter: "money", align: "right"},
                    {key: "e2", collector: "sum", formatter: "money", align: "right"},
                    {key: "e3", collector: "sum", formatter: "money", align: "right"},
                    {key: "e4", collector: "sum", formatter: "money", align: "right"},
                    {key: "e5", collector: "sum", formatter: "money", align: "right"},
                    {key: "e6", collector: "sum", formatter: "money", align: "right"},
                    {key: "f1", collector: "sum", formatter: "money", align: "right"},
                    {key: "f2", collector: "sum", formatter: "money", align: "right"},
                    {key: "f3", collector: "sum", formatter: "money", align: "right"},
                    {key: "g", collector: "sum", formatter: "money", align: "right"},
                    {key: "h", collector: "sum", formatter: "money", align: "right"},
                    {key: "l5", collector: "sum", formatter: "money", align: "right"},


                ]]
        });

        firstGrid.setData(gridList);
    }


            var now = new Date();
            var today = now.getFullYear() + '-' + ("0" + (now.getMonth() + 1)).slice(-2) + '-' + ("0" + now.getDate()).slice(-2);
            $("#date").val( today)
            $("#date2").val( today)



</script>

