
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>


<style>


  table {
    width: 100%;
    border: 0px;
  }
  .box{
    border: 1px solid #a3a2a2; margin :0.5em 0em 0em 0em;
  }
  th {
    text-align : left;
    background-color: #e7dfdf;
  }

</style>

<table class="box" >
    <tr>
        <th>
         조회일자 <input class="datepickers" id="date" type="date" value=""><input class="datepickers" id="date2" type="date" value="">
        </th>
    </tr>
    <tr>
        <td>
            <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                    }" style="height: 300;"></div>

        </td>

    </tr>
</table>





<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>
<script type="text/javascript">


var  gridList = [];
    $.getJSON("{{ url_for('_earnings_week' ) }}/"+"{{ store_id }}", function (json) {
        _data = json;

    }).done(function () {

    loaddata();

    });



    function load() {



        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "b", label: "요일", width: 35, align: "center"},
                {key: "d2", label: "합계" ,width: 60 , formatter: "money",align: "right"},
                {
                    label: "할인내역", columns: [ // child columns
                        {key: "k1", label: "일반",width: 60 ,align: "right"},
                        {key: "k2", label: "서비스",width: 60 ,align: "right"},
                        {key: "k3", label: "제휴",width: 60 ,align: "right"},
                        {key: "k4", label: "쿠폰" ,width: 60,align: "right"},
                        {key: "k5", label: "회원" ,width: 60,align: "right"},
                        {key: "k6", label: "식권" ,width: 60,align: "right"},
                        {key: "k7", label: "포장",width: 60 ,align: "right"},
                        {key: "k8", label: "YAP" ,width: 60,align: "right"}
                    ]
                },
            ],
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                    {key: "d2", collector: "sum", formatter: "money", align: "right"}



                ]]
        });

        firstGrid.setData(gridList);
    }



</script>

