
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>


    <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 2,
                        <!--frozenRowIndex: 2,-->
                        showLineNumber: true,
                        <!--showRowSelector: true,-->
                        <!--lineNumberColumnWidth: 50,-->
                        <!--rowSelectorColumnWidth: 40-->
                    }" style="height: 600px;"></div>


<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>

<script type="text/javascript">

var  gridList = [];
    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}", function (json) {
        _data = json;

    }).done(function () {

    loaddata();

    });


    function load() {



        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "a", label: "일자", width: 80, align: "center"},
                {key: "b", label: "요일", width: 35, align: "center"},
                {key: "c", label: "영업일수", width: 60, align: "center"},
                {
                    label: "매출현황", columns: [ // child columns
                        {key: "d1", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d2", label: "총할인" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d3", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                     ]
                },
                {
                    label: "과세액", columns: [ // child columns
                        {key: "d3", label: "합계" ,width: 80 , formatter: "money",align: "center"},
                        {key: "d4", label: "가액" ,width: 80 , formatter: "money",align: "right"},
                        {key: "d5", label: "부가세" ,width: 80 , formatter: "money",align: "right"},
                    ]
                },
                {key: "d8", label: "면세액", width: 80, formatter: "money",align: "right"},
                {key: "d4", label: "순매출액", width: 80 ,formatter: "money",align: "right"},
                {
                    label: "Tax Refund", columns: [ // child columns
                        {key: "l1", label: "사후환급액", formatter: "money",align: "right"},
                        {key: "l2", label: "즉시환급액",formatter: "money" ,align: "right"},
                        {key: "l3", label: "환급수수료",formatter: "money" ,align: "right"}
                    ]
                }
            ],
            footSum: [
                [
                    {label: "SUMMARY", colspan: 2, align: "center"},
                    {key: "c", collector: "sum", formatter: "money", align: "center"},
                    {key: "d1", collector: "sum", formatter: "money", align: "right"},
                    {key: "d2", collector: "sum", formatter: "money", align: "right"},
                    {key: "d3", collector: "sum", formatter: "money", align: "right"},
                    {key: "d3", collector: "sum", formatter: "money", align: "right"},
                    {key: "d4", collector: "sum", formatter: "money", align: "right"},
                    {key: "d5", collector: "sum", formatter: "money", align: "right"},
                    {key: "d8", collector: "sum", formatter: "money", align: "right"},
                    {key: "d4", collector: "sum", formatter: "money", align: "right"},

                ]]
        });

        firstGrid.setData(gridList);
    }



</script>

